.new-amount__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    border-top: 1px dotted;
    border-left: 1px dotted;
    border-color: #199e55;
    border-radius: 6px;
  }

  .new-amount__control {
    margin: 1em;
  }
  
  .new-amount__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-amount__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    color: #199e55;
    border: 1px solid ;
    width: 20rem;
    max-width: 100%;
    background-color: #111111;
  }
  
  .new-amount__actions {
    flex: 1;
    text-align: right;
    margin-right: 3.5rem;
  }

  .t {
    color: #199e55;
}