body {
    background-color: black;
}

h2 {
    color:#199e55;
    background-color: black;
    /* border-bottom: double;
    border-bottom-width: .5px !important;
    border-bottom-color: #199e55 !important; */
    /* margin-bottom: 1rem; */
}

h1 {
    text-align: center;
    color:#199e55;
    background-color: black;
}

h3 {
    text-align: center;
    color:#199e55;
    background-color: black;
}